<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Title</title>
   <link type="text/css" rel="stylesheet" href="{%  static 'css/style.css' %}"
   media='screen,projection'/>
</head>
<body>
<!--{% load static %}-->

{% block title %}Каталог{% endblock %}
{% block content %}
<div id="form">
   <form action="paths/" method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Submit">
   </form>
   </div>
   
</div>
<div id="main">
   <div class="text"></div>
   <div class="nuber"></div>
   
</div>
{% endblock %}
</body>
</html>

